#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.left_wrap {
  width: 25%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background: #131212;
}

.right_wrap {
  width: 75%;
  overflow: auto;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
}

.c_wrap {
  min-height: 100vh;
}

@media only screen and (max-width: 768px) {
  #app {
    flex-direction: column;
    position: relative;
  }
  .left_wrap {
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 2;
  }
  .right_wrap {
    width: 100%;
    margin-top: 10vh;
  }
}