.p_wrap {
    display: flex;
    width: 90%;
    margin: 5px auto;
}

.p_box {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 4vh;
}

.p_header {
    margin-bottom: 2vh;
}

.p_outer {
    height: 12px;
    background-color: #86b3D1;
    border-radius: 6px;
}

.p_bar {
    background-color: #4d6d9a;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    border-radius: 6px;
}